/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
*/

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
}

a {
  color: #1b75bc;
}

h2 {
  font-size: 2rem;
}

.alektrion-logo-wrap {
text-align: center;
border-bottom: 1px #999999 solid; 
}
@media (min-width: 991px) {
  .alektrion-logo-wrap {
    border: none; 
  }
}

.alektrion-logo {
  align-content: center;
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  margin-left: auto;
  margin-right: auto;
 
}
@media (min-width: 991px) {
  .alektrion-logo {
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.tel-title {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0;
  color: #666666;
}
@media (min-width: 991px) {
  .tel-title {
    font-size: 0.8rem;
    margin-top: 2.4rem;
    margin-bottom: 0;
    color: #666666;
  }
}

.tel {
  font-size: 1.1rem;
  margin-top: 0.3rem;
}
@media (min-width: 991px) {
  .tel {
    font-size: 1.1rem;
    margin-top: 0.3rem;
  }
}

.mail-a {
  font-size: 1.1rem;
  line-height: 1.9rem;
}

.nav-link-line {
  margin-top: 0;
  border-top: 1px #999999 solid; 
}

.nav-link-wrap {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .nav-link-wrap {
    margin-bottom: 0.7rem;
  }
}

.nav-link {
  margin-top: 0;
  margin-right: 2rem;
}

.nav-link-last {
  margin-top: 0;
}

.avr-banner-wrap {
  background: #ff9933;
}

.avr-banner {
  width: 100%;
}

.h1-wrap {
  color: white;
  margin-top: -1rem;
  padding-top: 0;
}
@media (min-width: 991px) {
  .h1-wrap {
    margin-top: -5rem;
    padding-top: 0;
  }
}

.banner-header {
  font-size: 3.5rem;
  margin-bottom: 0.4rem;
}
@media (min-width: 991px) {
  .banner-header {
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }
}

.cost {
  margin-top: 0;
  font-size: 5rem;
  font-weight: normal;
}
@media (min-width: 991px) {
  .cost {
    /* background: black;
  border-radius: 50%;
  height: 200px;
  width: 200px; */
    margin-top: 1.5rem;
    font-size: 2.8rem;
    font-weight: bold;
  }
}

.features-wrap {
  background: #f6d6b0;
}

.features {
  font-size: 2.5rem;
  line-height: 3rem;
}
@media (min-width: 991px) {
  .features {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}

.features-p {
  font-size: 2rem;
  line-height: 2.4rem;
}
@media (min-width: 991px) {
  .features-p {
    line-height: 1.4rem;
    font-size: 1rem;
  }
}

.btn-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 540px;
  height: 80px;
  background: #ff9933;
  border: none;
  border-radius: 8px;
  text-align: center;
}
@media (min-width: 991px) {
  .btn-wrap {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    width: 270px;
    height: 40px;
  }
}

.btn-wrap:hover {
  background: #ffa343;
}

.btn-wrap:active {
  background: #f7943c;
}

.btn {
  font-size: 2rem;
  line-height: 5rem;
  outline: none;
  color: white;
  text-decoration: none;
}
@media (min-width: 991px) {
  .btn {
    font-size: 1.1rem;
    line-height: 2.5rem;
  }
}

.header-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.module-header {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .module-header {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.img-avr-module {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.module-p {
  margin-top: -1.5rem;
  padding-top: 0;
  font-size: 2rem;
  line-height: 2.4rem;
}
@media (min-width: 991px) {
  .module-p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.img-avr-measure {
  width: 100%;
  /* margin-top: 2rem;
  margin-bottom: 2rem;*/
}

.img-avr-comparison {
  width: 100%;
}

.benefit-wrap {
  background: #e6e7e8;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .benefit-wrap {
    margin-bottom: 2rem;
  }
}

.benefit-header {
  margin-bottom: 0;
  font-size: 4rem;
}
@media (min-width: 991px) {
  .benefit-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
}

.benefit-p-xs {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}

.benefit-p-lg {
  margin-top: 0;
}

.benefit-p {
  margin-top: 0.4rem;
  margin-bottom: 0;
  font-size: 1.3rem;
}
@media (min-width: 991px) {
  .benefit-p {
    margin-top: 0.4rem;
    margin-bottom: 0;
    font-size: 1rem;
  }
}

.benefit-cost {
  margin-top: 0.4rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
@media (min-width: 991px) {
  .benefit-cost {
    margin-top: 0.4rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }
}

.img-avr-change {
  width: 100%;
}

.change-header {
  margin-top: -2rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 3rem;
}
@media (min-width: 991px) {
  .change-header {
    margin-top: -3rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
  }
}

.change-p {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
  margin-bottom: 4rem;
}
@media (min-width: 991px) {
  .change-p {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.feat-background-mobile {
  background: #ff9933;
}
@media (min-width: 991px) {
  .feat-background-mobile {
    background: white;
  }
}

.feat {
  background: #ff9933;
  color: white;
}

.feat-header {
  margin-top: 3rem;
  margin-bottom: 0;
  font-size: 3rem;
}
@media (min-width: 991px) {
  .feat-header {
    margin-top: 1.8rem;
    margin-bottom: 0.4rem;
    font-size: 2rem;
  }
}

.feat-p {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
  margin-bottom: 4rem;
}
@media (min-width: 991px) {
  .feat-p {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.feat-title {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 1.6rem;
  margin-bottom: 0;
}
@media (min-width: 991px) {
  .feat-title {
    margin-top: 1.2rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.feat-p-2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
}
@media (min-width: 991px) {
  .feat-p-2 {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.img-avr-controller {
  width: 100%;
  margin-top: 4rem;
}
@media (min-width: 991px) {
  .img-avr-controller {
    margin-top: 2rem;
  }
}

.controller-header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .controller-header {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.controller-p {
  font-size: 2rem;
  line-height: 2.45rem;
  margin-top: 0;
  margin-bottom: 2.4rem;
}
@media (min-width: 991px) {
  .controller-p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.35rem;
  }
}

.properties-header {
  font-size: 3rem;
  margin-top: 4rem;
  text-align: center;
}
@media (min-width: 991px) {
  .properties-header {
    font-size: 2rem;
    margin-top: 3rem;
    text-align: left;
  }
}

.properties-feat {
  margin-top: 0.9rem;
  margin-bottom: 0;
  font-size: 4rem;
  color: #ff9933;
}
@media (min-width: 991px) {
  .properties-feat {
    margin-top: 0.9rem;
    margin-bottom: 0;
    font-size: 2rem;
    color: #ff9933;
  }
}

.properties-feat-p {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .properties-feat-p {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.properties-p {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}
@media (min-width: 991px) {
  .properties-p {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

.properties-p-wrap {
  margin-top: -1.8rem;
  margin-bottom: 6rem;
}
@media (min-width: 991px) {
  .properties-p-wrap {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

.mode-wrap {
  background: #f6d6b0;
  padding-bottom: 3rem;
}

.mode-title {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 3rem;
}
@media (min-width: 991px) {
  .mode-title {
    margin-top: 2rem;
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.mode-p {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}
@media (min-width: 991px) {
  .mode-p {
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

.img-avr-protector {
  margin-top: 3rem;
  width: 100%;
}

.protector-p {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: left;
}
@media (min-width: 991px) {
  .protector-p {
    margin-top: 0.4rem;
    font-size: 1.4rem;
    text-align: left;
  }
}

.description-header {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
@media (min-width: 991px) {
  .description-header {
    font-size: 2rem;
    margin-top: 3rem;
    text-align: left;
  }
}

.img-avr-description {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .img-avr-description {
    margin-bottom: 0.5rem;
  }
}

.diagrem-header {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 3rem;
}
@media (min-width: 991px) {
  .diagrem-header {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: left;
    line-height: 2.4rem;
  }
}

.img-avr-diagram {
  height: 100%;
  width: 100%;
  margin-bottom: 3rem;
}
@media (min-width: 991px) {
  .img-avr-diagram {
    margin-bottom: 0;
  }
}

.diagram-title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
  padding-bottom: 0;
}
@media (min-width: 991px) {
  .diagram-title {
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
  }
}

.diagram-p {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
}
@media (min-width: 991px) {
  .diagram-p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.plan-wrap {
  background: #e6e7e8;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.img-avr-plan {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

.img-avr-installation-body {
  width: 100%;
}

.avr-installation-wrap {
  margin-top: 0;
}
@media (min-width: 991px) {
  .avr-installation-wrap {
    margin-top: -33rem;
  }
}

.img-avr-installation {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .img-avr-installation {
    margin-bottom: 4rem;
  }
}

.installation-header {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 3rem;
}
@media (min-width: 991px) {
  .installation-header {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 2.4rem;
  }
}

.installation-title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
  padding-bottom: 0;
}
@media (min-width: 991px) {
  .installation-title {
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
  }
}

.installation-p {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 4rem;
  line-height: 2.6rem;
}
@media (min-width: 991px) {
  .installation-p {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

.indicator-header {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 3rem;
}
@media (min-width: 991px) {
  .indicator-header {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 2.4rem;
  }
}

.img-avr-indicator {
  width: 100%;
  margin-bottom: 8rem;
}

.offer-wrap {
  background: #f6d6b0;
  margin-top: 8rem;
}
@media (min-width: 991px) {
  .offer-wrap {
    margin-top: 0;
  }
}

.img-avr-p {
  width: 100%;
  margin-top: -12rem;
}
@media (min-width: 991px) {
  .img-avr-p {
    margin-top: -6rem;
  }
}

.footer-cost {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 991px) {
  .footer-cost {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer-char {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .footer-char {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.footer-link {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
}
@media (min-width: 991px) {
  .footer-link {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
}

.footer-btn-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 0;
  width: 540px;
  height: 80px;
  background: #ff9933;
  border: none;
  border-radius: 8px;
  text-align: center;
}
@media (min-width: 991px) {
  .footer-btn-wrap {
    margin-top: 1rem;
    margin-bottom: 0;
    width: 270px;
    height: 40px;
  }
}

.footer-desc {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 991px) {
  .footer-desc {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}

footer {
  background: #ff9933;
  color: white;
  padding-bottom: 4rem;
}
@media (min-width: 991px) {
  footer {
    padding-bottom: 0;
  }
}

.footer-link-line {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px white solid;
}
@media (min-width: 991px) {
  .footer-link-line {
    margin-top: 0;
    border: none;
  }
}

.footer-link-wrap {
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .footer-link-wrap {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}

.footer-link {
  margin-top: 2rem;
  line-height: 5rem;
  font-size: 3rem;
  color: white;
}
@media (min-width: 991px) {
  .footer-link {
    margin-top: 2rem;
    line-height: 1.4rem;
    font-size: 1rem;
    color
  }
}

.footer-link-contacts {
  margin-bottom: 2.4rem;
}


.footer-tel-title {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
@media (min-width: 991px) {
  .footer-tel-title {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

.footer-tel {
  font-size: 1.8rem;
  margin-top: 0.3rem;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .footer-tel {
    font-size: 1.1rem;
    margin-top: 0.2rem;
  }
}

.footer-mail-link {
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: white;
}
@media (min-width: 991px) {
  .footer-mail-link {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}



