/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
*/

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
}

.avr-banner-wrap {
  background: #ff9933;
}

.avr-banner {
  width: 100%;
}

.h1-wrap {
  color: white;
  margin-top: -1rem;
  padding-top: 0;
}

@media (min-width: 991px) {
  .h1-wrap {
    margin-top: -5rem;
    padding-top: 0;
  }
}

.banner-header {
  font-size: 3.5rem;
  margin-bottom: 0.4rem;
}
@media (min-width: 991px) {
  .banner-header {
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }
}

.cost {
  margin-top: 0;
  font-size: 5rem;
  font-weight: normal;
}
@media (min-width: 991px) {
  .cost {
    /* background: black;
  border-radius: 50%;
  height: 200px;
  width: 200px; */
    margin-top: 1.5rem;
    font-size: 2.8rem;
    font-weight: bold;
  }
}

.features-wrap {
  background: #f6d6b0;
}

.features {
  font-size: 2.5rem;
  line-height: 3rem;
}
@media (min-width: 991px) {
  .features {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}

.features-p {
  font-size: 2rem;
  line-height: 2.4rem;
}
@media (min-width: 991px) {
  .features-p {
    line-height: 1.4rem;
    font-size: 1rem;
  }
}

.manual-link {
  color: #1b75bc;
}

.btn-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 540px;
  height: 80px;
  background: #ff9933;
  border: none;
  border-radius: 8px;
  text-align: center;
}
@media (min-width: 991px) {
  .btn-wrap {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    width: 270px;
    height: 40px;
  }
}

.btn-wrap:hover {
  background: #ffa343;
}

.btn-wrap:active {
  background: #f7943c;
}

.btn {
  font-size: 2rem;
  line-height: 5rem;
  outline: none;
  color: white;
  text-decoration: none;
}
@media (min-width: 991px) {
  .btn {
    font-size: 1.1rem;
    line-height: 2.5rem;
  }
}

.header-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.module-header {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .module-header {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.img-avr-module {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.module-p {
  margin-top: -1.5rem;
  padding-top: 0;
  font-size: 2rem;
  line-height: 2.4rem;
}
@media (min-width: 991px) {
  .module-p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.img-avr-measure {
  width: 100%;
  /* margin-top: 2rem;
  margin-bottom: 2rem;*/
}

.img-avr-comparison {
  width: 100%;
}

.benefit-wrap {
  background: #e6e7e8;
  margin-bottom: 2rem;
}

.benefit-header {
  margin-bottom: 0;
  font-size: 4rem;
}
@media (min-width: 991px) {
  .benefit-header {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
}

.benefit-p-xs {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}

.benefit-p-lg {
  margin-top: 0;
}

.benefit-p {
  margin-top: 0.4rem;
  margin-bottom: 0;
  font-size: 1.3rem;
}
@media (min-width: 991px) {
  .benefit-p {
    margin-top: 0.4rem;
    margin-bottom: 0;
    font-size: 1rem;
  }
}

.benefit-cost {
  margin-top: 0.4rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
@media (min-width: 991px) {
  .benefit-cost {
    margin-top: 0.4rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }
}

.img-avr-change {
  width: 100%;
}

.change-header {
  margin-top: -2rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 3rem;
}
@media (min-width: 991px) {
  .change-header {
    margin-top: -3rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
  }
}

.change-p {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
  margin-bottom: 4rem;
}
@media (min-width: 991px) {
  .change-p {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.feat-background-mobile {
  background: #ff9933;
}
@media (min-width: 991px) {
  .feat-background-mobile {
    background: white;
  }
}

.feat {
  background: #ff9933;
  color: white;
}

.feat-header {
  margin-top: 3rem;
  margin-bottom: 0;
  font-size: 3rem;
}
@media (min-width: 991px) {
  .feat-header {
    margin-top: 1.8rem;
    margin-bottom: 0.4rem;
    font-size: 2rem;
  }
}

.feat-p {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
  margin-bottom: 4rem;
}
@media (min-width: 991px) {
  .feat-p {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.feat-title {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 1.6rem;
  margin-bottom: 0;
}
@media (min-width: 991px) {
  .feat-title {
    margin-top: 1.2rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.feat-p-2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
}
@media (min-width: 991px) {
  .feat-p-2 {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.img-avr-controller {
  width: 100%;
  margin-top: 4rem;
}
@media (min-width: 991px) {
  .img-avr-controller {
    margin-top: 2rem;
  }
}

.controller-header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .controller-header {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.controller-p {
  font-size: 2rem;
  line-height: 2.45rem;
  margin-top: 0;
  margin-bottom: 2.4rem;
}
@media (min-width: 991px) {
  .controller-p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.35rem;
  }
}
/*---------------------------------------------------------*/

.properties-header {
  font-size: 3rem;
  margin-top: 4rem;
}
@media (min-width: 991px) {
  .properties-header {
    font-size: 2rem;
    margin-top: 3rem;
  }
}

.properties-feat {
  margin-top: 0.9rem;
  margin-bottom: 0;
  font-size: 4rem;
  color: #ff9933;
}
@media (min-width: 991px) {
  .properties-feat {
    margin-top: 0.9rem;
    margin-bottom: 0;
    font-size: 2rem;
    color: #ff9933;
  }
}

.properties-feat-p {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .properties-feat-p {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.properties-p {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}
@media (min-width: 991px) {
  .properties-p {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

.properties-p-wrap {
  margin-top: -2.2rem;
}
@media (min-width: 991px) {
  .properties-p-wrap {
    margin-top: 0;
  }
}

.mode-wrap {
  background: #f6d6b0;
}

.img-avr-description {
  width: 100%;
}

.diagrem-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img-avr-diagram {
  height: 100%;
  width: 100%;
}

.img-avr-protector {
  margin-top: 3rem;
  width: 100%;
}

.plan-wrap {
  background: #e6e7e8;
  margin-bottom: 2rem;
}

.img-avr-plan {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

.img-avr-installation-body {
  width: 100%;
}

.avr-installation-wrap {
  margin-top: -40rem;
}

.img-avr-installation {
  width: 100%;
}

.img-avr-indicator {
  width: 100%;
  margin-bottom: 8rem;
}

.offer-wrap {
  background: #f6d6b0;
}

.img-avr-p {
  width: 100%;
  margin-top: -6rem;
}
